# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan
terraform/plan.out
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Node
node_modules/

# Secrets
*.pem
*.key
.env
